NodeRedFlow.json
[{"id":"76e77297.95fc7c","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"4034ec82.f94914","type":"ui_form","z":"76e77297.95fc7c","name":"","label":"","group":"6928e3df.e7dd0c","order":1,"width":0,"height":0,"options":[{"label":"Enter input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":260,"y":380,"wires":[["f06b33e7.5e4dc"]]},{"id":"f06b33e7.5e4dc","type":"function","z":"76e77297.95fc7c","name":"","func":"msg.payload = msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":300,"wires":[["97baf848.ba6668","27f1184d.724138"]]},{"id":"97baf848.ba6668","type":"watson-conversation-v1","z":"76e77297.95fc7c","name":"TALOS","workspaceid":"7bfbc80e-3ccf-4efc-94ef-228d944b0372","multiuser":false,"context":false,"empty-payload":false,"service-endpoint":"https://api.au-syd.assistant.watson.cloud.ibm.com/instances/a6b42332-a127-4473-80cc-a6345d297769","timeout":"","optout-learning":false,"x":520,"y":160,"wires":[["c943b91d.0ccfe8","8529ff87.0fede"]]},{"id":"8529ff87.0fede","type":"debug","z":"76e77297.95fc7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":80,"wires":[]},{"id":"c943b91d.0ccfe8","type":"function","z":"76e77297.95fc7c","name":"","func":"msg.payload.text=\"\";\nif(msg.payload.context.webhook_result_1){\nfor(var i in msg.payload.context.webhook_result_1.results){\nmsg.payload.text=msg.payload.text+\"\\n\"+msg.payload.context.webhook_result_1.results[i].text;\n}    \n    msg.payload=msg.payload.text;\n}\nelse\nmsg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":320,"wires":[["fab6baec.6e5f28"]]},{"id":"27f1184d.724138","type":"ui_text","z":"76e77297.95fc7c","group":"6928e3df.e7dd0c","order":2,"width":0,"height":0,"name":"","label":"You:","format":"{{msg.payload}}","layout":"row-left","x":560,"y":400,"wires":[]},{"id":"fab6baec.6e5f28","type":"ui_text","z":"76e77297.95fc7c","group":"6928e3df.e7dd0c","order":3,"width":"13","height":"6","name":"","label":"TALOS","format":"{{msg.payload}}","layout":"col-center","x":940,"y":400,"wires":[],"l":false},{"id":"6928e3df.e7dd0c","type":"ui_group","z":"","name":"ChatBot","tab":"c785b3e2.2c153","order":1,"disp":true,"width":"13","collapse":true},{"id":"c785b3e2.2c153","type":"ui_tab","z":"","name":"Customer Service","icon":"dashboard","disabled":false,"hidden":false}]